.myapplication{
    background-image: url('applicaion.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 0;
}
.application-form{
    background-color: rgba(15, 39, 23, 0.9);
    width: 70%;
    padding: 4rem;
}
.instruction{
    padding: 1rem 15px;
}
.apply-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.apply-btn button{
    width: 30%;
    margin: 3rem 0;
}
.fieldset{
    margin: 1.5rem 0;
    color: rgb(2, 24, 2);
    background-color: rgb(163, 185, 168);
    padding: 0 1rem;
}
.fieldset:hover{
    margin: 1.5rem 0;
    background-color: rgb(224, 231, 226);
    padding: 0 1rem;
}
.myradio{
    margin-left:1.2rem ;
}

@media screen and (max-width: 768px) {  
    .application-form{
        width: 80%;
        padding: 4rem;
    }
    .apply-btn button{
        width: 100%;
    }
    .fieldset{
        margin: 1rem 0;
        color: rgb(2, 24, 2);
        background-color: rgb(163, 185, 168);
    }
}