.mysignup{
    background-image: url('signup-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.signup-form{
    background-color: rgba(15, 39, 23, 0.7);
    width: 30%;
    padding: 4rem;
}

@media screen and (max-width: 768px) {  
    .signup-form{
        width: 80%;
        padding: 4rem;
    }
}