.scholar{
    height: 125vh;
    background-image: url('Scholar-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem 0rem;
}
.scholarship{
    padding: 3rem 3rem;
    text-align: justify;
    border-radius: 10px;
    color: white;
    background-color: rgb(0,0,0,.8);
}
.scholarship p{
    font-size: large; 
}
.hat-icon{
    font-size: 60px;
    color: rgb(140, 222, 140);
}